/* General Element Stylings */

body
{
	background-color: #d5dfeb;
	font-family: verdana;
}

a
{
	text-decoration: none;
	color: #a30a0a;
}

ul
{
	margin-left: -15px;
	list-style-type: square;
}

hr
{
	border: 1px solid black;
}

/* Header */

.header
{
	display: flex;
	border-style: solid;
	background-color: #98cad6;
	border-radius: 15px 15px 0px 0px;
}

.headleft
{
	padding: 10px 0px 5px 10px;
	flex: 75%;
}
	.headleft img
	{
		float: left;
		padding: 0px;
		border-style: solid;
		border-radius: 15px 15px 15px 15px;
		margin: 0px 0px 5px 0px;
		border-color: black;
		background-color: #d5dfeb;
		max-width: 100%;
	}

.headright
{
	padding: 10px 10px 5px 0px;
	flex: 25%;
}

	.headright img
	{
		float: right;
		padding: 0px;
		margin-left: 3px;
		margin-bottom: 0px;
		vertical-align: bottom;
		max-width: 10%;
		max-height: 10%;
	}

.titlebar
{
	background-color: black;
	border-style: none solid solid solid;
	
}

	div.titlebar
	{
		
		vertical-align: middle;
	}


.button
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.button li
{
	background-image: url("/Images/barbutton.png");
	text-align: center;
	font-weight: bold;
	width: 150px;
	height: 25px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.button a
{
	margin: 0px;
	padding: 0px;
	color: #C50105;
	font-weight: bold;
	line-height: 25px;
}

/* Left Sidebar */

.leftbar
{
	padding: 0px 5px 0px 5px;
	flex: 10%
}

	div.leftbar
	{
		border-style: none solid solid solid;
		background-color: #98cad6;
	}

	h4.leftbar
	{
		text-decoration: underline;
	}

	p.leftbar
	{
		padding: 0px 5px 0px 5px;
		width: 95%;
	}

/* Main Content */

.body
{
	display: flex;
}

.main
{
	padding: 0px 10px 0px 10px;
	flex: 80%;
}

	div.main
	{
		border-style: none none solid none;
		background-color: #d5dfeb;
	}
	
/* Right Sidebar */

.rightbar
{
	padding: 0px 5px 0px 5px;
	flex: 10%
}

	div.rightbar
	{
		border-style: none solid solid solid;
		background-color: #98cad6;
	}
	
	h4.rightbar
	{
		text-decoration: underline;
	}

	p.rightbar
	{
		padding: 0px 5px 0px 5px;
		width: 95%;
	}

/* Footer */

.footer
{
	background-color: #63b0bf;
	text-align: center;
	padding: 1px;
	font-size: 0.7em;
}

	div.footer
	{
		border-style: none solid solid solid;
		border-radius: 0px 0px 15px 15px;
	}

	p.footer
	{
		width: 50%;
		margin: auto;
	}