body
{
	background-color: #d5dfeb;
	font-family: verdana;
}

a
{
	text-decoration: none;
	color: #a30a0a;
	font-weight: bold;
}

.header
{
	display: flex;
	border-style: solid;
	background-color: #63b0bf;
	border-radius: 15px 15px 0px 0px;
}

.headleft
{
	padding: 10px;
	flex: 25%;
}

.headcentre
{
	padding: 10px;
	flex: 50%;
}

.headright
{
	padding: 10px;
	flex: 25%;
}

img.headcentre
{
	padding: 0px;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
	background-color: #98cad6;
}

a.headright
{
	background-color: #D3D3D3;
	border-style: solid;
	border-width: 1px;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	border-color: black;
}

.body
{
	display: flex;
}

.leftbar
{
	padding: 0px 10px 0px 10px;
	flex: 10%
}

div.leftbar
{
	border-style: none solid solid solid;
	background-color: #63b0bf;
	border-radius: 0px 0px 0px 15px;
}

p.leftbar
{
	padding: 0px 5px 0px 5px;
	width: 95%;
}

.main
{
	padding: 0px 10px 0px 10px;
	flex: 80%;
}

div.main
{
	border-style: none none solid none;
	background-color: #98cad6;
}

.rightbar
{
	padding: 0px 10px 0px 10px;
	flex: 10%
}

div.rightbar
{
	border-style: none solid solid solid;
	background-color: #63b0bf;
	border-radius: 0px 0px 15px 0px;
}

p.rightbar
{
	padding: 0px 5px 0px 5px;
	width: 95%;
}
