/* General Element Stylings */

body
{
	background-color: #FFD596;
	font-family: helvetica, sans-serif;
	line-height: 125%;
	color: black;
	border-color: #A9A9A9;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-image: url("/img/backtile.png");
}

a
{
	text-decoration: none;
	color: #BB0000;
}

ul
{
	margin-left: -15px;
	list-style-type: square;
}

hr
{
	color: #A9A9A9;
}

/* Header */

.header
{
	display: flex;
	border-style: solid;
	background-color: #770000;
	border-radius: 15px 15px 0px 0px;
}

.headleft
{
	padding: 5px 0px 0px 5px;
	flex: 90%;
}
	.headleft img
	{
		float: left;
		padding: 0px;
		margin-left: 0;
		margin-right: 0;
		max-width: 100%;
		height: 90%;
		vertical-align: bottom;
	}

.headright
{
	padding: 5px 5px 0px 0px;
	flex: 10%;
}

	.headright table
	{
		float: right;
		padding: 0px 0px 0px 5px;
		margin: 0;
	}
	
	.headright td, tr
	{
		max-height: 25%;
		max-width: 25%;
		margin: 0;
		padding: 0;
	}
	
	.headright img
	{	
		padding: 0;
		margin: 0;
		max-width: 50px;
	}

.buttonbar
{
	background-color: #333333;
	border-style: none solid solid solid;
	
}

	div.buttonbar
	{
		
		vertical-align: middle;
	}


.button
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.button li
{
	text-align: center;
	font-weight: bold;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	width: 150px;
	height: 25px;	
	background-image: url("/img/button.png");
}

.button a
{
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	line-height: 25px;
	color: white;
	font-family: courier, monospace;
	text-shadow: 1px 1px 1px #333333;
	width: 150px;
	height: 25px;
}

/* Main Content */
.main
{
	padding: 20px 10px 20px 10px;
}

.main h3
{
	padding: 0;
	margin: 0;
}
	
.main h4
{
	padding: 0;
	margin: 0;
}

div.main
{
	border-style: none solid solid solid;
	background-color: #d9d9d9;
}
	
div.imgbox
{
	display: block;
	width: 66%;
	margin-left: auto;
	margin-right: auto;
	border-style: none;
	border-width: 1px;
	border-radius: 15px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

	.imgbox img
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.imgbox p
	{
		width: 100%;
		font-size: 0.75em;
		margin-top: 2px;
		margin-bottom: 2px;
		margin-left: auto;
		margin-right: auto;
	}
	
div.duobox
{
	display: flex;
}

	.duobox img
	{
		width: 100%;
	}
	
	.duobox p
	{
		font-size: 0.75em;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	div.duoleft
	{
		
		flex: 50%;
		margin-left: auto;
		margin-right: 10px;
		border-style: none;
		border-width: 1px;
		border-radius: 15px;
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}

	div.duoright
	{
		flex: 50%;
		margin-left: 10px;
		margin-right: auto;
		border-style: none;
		border-width: 1px;
		border-radius: 15px;
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
	
div.iconbox
{
	display: flex;
	border-style: none;
	border-width: 1px;
	border-radius: 10px;
	background-color: #C1C1C1;
}

	.iconbox img
	{
		width: 100%;
		border-radius: 10px;
		vertical-align: center;
	}
	
	.iconbox p
	{
		margin-top: 2px;
		margin-bottom: 2px;
	}

	div.iconleft
	{
		padding: 5px;
		flex: 10%;
		/* Uncomment these two lines to vertically center the icons.
		margin-top: auto;
		margin-bottom: auto; */
		margin-right: auto;
		margin-left: auto;
		vertical-align: center;
	}

	div.iconright
	{
		flex: 90%;		
		padding: 6px 3px 3px 3px;
		margin-left: 5px;
		margin-right: 5px;
	}
	
div.profilebox
{
	display: flex;
	border-style: none;
	border-width: 1px;
	border-radius: 15px;
	background-color: #C1C1C1;
}

	.profilebox img
	{
		width: 100%;
		border-radius: 5px;
		vertical-align: center;
	}
	
	.profilebox p
	{
		margin-top: 2px;
		margin-bottom: 2px;
	}

	div.profileleft
	{
		padding: 5px;
		flex: 50%;
		margin-right: auto;
		margin-left: auto;
		margin-top: 2px;
		margin-bottom: auto;
		padding-right: 6px;
		vertical-align: center;
	}

	div.profileright
	{
		flex: 50%;		
		padding: 6px 3px 3px 3px;
		margin-left: 5px;
		margin-right: 5px;
	}

	
.score
{
	width: 200px;
	height: 50px;
	font-size: 2em;
	font-weight: 900;
	color: #b38f00;
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	line-height: 50px;
	text-align: center;
}
	
div.2col
{
	padding: 0px 20px 0px 10px;
	float: left;
	width: 45%;
}

div.highlightbox
{
	background-color: #C1C1C1;
	border-style: none;
	border-width: 1px;
	border-radius: 15px;
	padding: 10px;
}

	.highlightbox p
	{
		margin: 0;
		font-size: 0.9em;
	}

	.highlightbox h4
	{
		margin: 0;
		padding: 0;
		text-decoration: underline;
	}
	
	.highlightbox h5
	{
		margin: 0;
		padding: 0;
	}
	
.primarycontent
{
	display: flex;
}

.maincol
{
	padding: 10px;
	flex: 75%;
	margin-right: 15px;
}

.sidebar 
{
	flex: 30%;
	float: right;
	padding: 0px 10px 10px 10px;
}

	div.infobox
	{
		background-color: #C1C1C1;
		border-radius: 15px;
		padding: 10px;
	}

.kofibutton
{
	text-align: center;
}

	.kofibutton img
	{
		width: 95%;
		border-radius: 15px;
	}
	
.mobiledivider
{
	visibility: hidden;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  background-color: #C1C1C1;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}


/* Mobile scaling */
@media screen and (max-width: 719px)
{
	body
	{
		width: 95%;
	}
	
	.primarycontent
	{
		display: flex;
		flex-direction: column;
	}
	
	.maincol
	{
		padding: 10px;
		flex: 100%;
		float: none;
	}
	
	.mobiledivider
	{
		visibility: visible;
	}
	
	.sidebar
	{
		padding: 10px;
		flex: 100%;
		float: none;
	}
	
	div.infobox
	{
		background-color: #C1C1C1;
		border-radius: 15px;
	}
		
	div.iconbox
	{
		display: flex;
		flex-direction: column;
		border-style: none;
		border-width: 1px;
		border-radius: 15px;
	}

		.iconbox img
		{
			width: 50%;
			border-radius: 5px;
			text-align: center;
		}
		
		.iconbox h4
		{
			text-align: center;
		}
		
		.iconbox p
		{

		}

		div.iconleft
		{
			padding: 3px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 5px;
			margin-bottom: auto;
			text-align: center;
		}

		div.iconright
		{		
			padding: 3px;
			margin-left: 5px;
			margin-right: 5px;
		}
}

/* Footer */

.footer
{
	background-color: #333333;
	text-align: center;
	padding: 1px;
	font-size: 0.7em;
}

	div.footer
	{
		border-style: none solid solid solid;
		border-radius: 0px 0px 15px 15px;
	}

	.footer p
	{
		color: white;
		margin: auto;
	}