/* General Element Stylings */

body
{
	background-color: #181818;
	font-family: helvetica;
	line-height: 125%;
	color: white;
	border-color: #A9A9A9;
}

a
{
	text-decoration: none;
	color: #fc3516;
}

ul
{
	margin-left: -15px;
	list-style-type: square;
}

hr
{
	color: #A9A9A9;
}

/* Header */

.header
{
	display: flex;
	border-style: solid;
	background-color: #3a0000;
	border-radius: 15px 15px 0px 0px;
}

.headleft
{
	padding: 5px 0px 0px 5px;
	flex: 90%;
}
	.headleft img
	{
		float: left;
		padding: 0px;
		/* border-style: solid;
		border-radius: 15px 15px 15px 15px; */
		/* margin-top: auto; */
		/* margin-bottom: auto; */
		margin-left: 0;
		margin-right: 0;
		/* border-color: black;
		background-color: #D9EEF9; */
		max-width: 100%;
		height: 90%;
		vertical-align: bottom;
	}

.headright
{
	padding: 5px 5px 0px 0px;
	flex: 10%;
}

	.headright table
	{
		float: right;
		padding: 0px 0px 0px 5px;
		margin: 0;
	}
	
	.headright td, tr
	{
		max-height: 25%;
		max-width: 25%;
		margin: 0;
		padding: 0;
	}
	
	.headright img
	{	
		padding: 0;
		margin: 0;
		max-width: 50px;
	}

.titlebar
{
	background-color: black;
	border-style: none solid solid solid;
	
}

	div.titlebar
	{
		
		vertical-align: middle;
	}


.button
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.button li
{
	background-image: url("/img/button.png");
	text-align: center;
	font-weight: bold;
	width: 150px;
	height: 25px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.button a
{
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	line-height: 25px;
}

/* Main Content */
.main
{
	padding: 20px 10px 20px 10px;
}

.main h3
{
	padding: 0;
	margin: 0;
}
	
.main h4
{
	padding: 0;
	margin: 0;
}

div.main
{
	border-style: none solid solid solid;
	background-color: #282828;
}
	
div.imgbox
{
	display: block;
	width: 66%;
	margin-left: auto;
	margin-right: auto;
	border-style: none;
	border-width: 1px;
	border-radius: 15px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

	.imgbox img
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.imgbox p
	{
		width: 100%;
		font-size: 0.75em;
		margin-top: 2px;
		margin-bottom: 2px;
		margin-left: auto;
		margin-right: auto;
	}
	
div.duobox
{
	display: flex;
}

	.duobox img
	{
		width: 100%;
	}
	
	.duobox p
	{
		font-size: 0.75em;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	div.duoleft
	{
		
		flex: 50%;
		margin-left: auto;
		margin-right: 10px;
		border-style: none;
		border-width: 1px;
		border-radius: 15px;
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}

	div.duoright
	{
		flex: 50%;
		margin-left: 10px;
		margin-right: auto;
		border-style: none;
		border-width: 1px;
		border-radius: 15px;
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
	
div.profilebox
{
	display: flex;
	border-style: none;
	border-width: 1px;
	border-radius: 15px;
	background-color: #404040;
}

	.profilebox img
	{
		width: 100%;
		border-radius: 50%;
		vertical-align: center;
	}
	
	.profilebox p
	{
		margin-top: 2px;
		margin-bottom: 2px;
	}

	div.profileleft
	{
		padding: 5px;
		flex: 10%;
		margin-right: auto;
		margin-left: auto;
		margin-top: auto;
		margin-bottom: auto;
		vertical-align: center;
	}

	div.profileright
	{
		flex: 90%;		
		padding: 6px 3px 3px 3px;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	p.systems
	{
		float: bottom;
	}
	
.score
{
	width: 200px;
	height: 50px;
	font-size: 2em;
	font-weight: 900;
	color: #fcc200;
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	line-height: 50px;
	text-align: center;
}
	
div.2col
{
	padding: 0px 20px 0px 10px;
	float: left;
	width: 45%;
}

div.highlightbox
{
	background-color: #404040;
	border-style: none;
	border-width: 1px;
	border-radius: 15px;
	padding: 10px;
}

	.highlightbox p
	{
		margin: 0;
		font-size: 0.9em;
	}

	.highlightbox h4
	{
		margin: 0;
		padding: 0;
		text-decoration: underline;
	}
	
	.highlightbox h5
	{
		margin: 0;
		padding: 0;
	}
	
.primarycontent
{
	display: flex;
}

.maincol
{
	padding: 10px;
	flex: 75%;
	margin-right: 15px;
}

.infocol 
{
	flex: 30%;
	float: right;
	padding: 10px;
}

	div.infobox
	{
		background-color: #404040;
		border-radius: 15px;
		padding: 0px 10px 10px 10px;
	}

.kofibutton
{
	text-align: center;
}

	.kofibutton img
	{
		width: 95%;
		border-radius: 15px;
	}

@media screen and (max-width: 720px)
{
	.primarycontent
	{
		display: flex;
		flex-direction: column;
	}
	
	.maincol
	{
		padding: 10px;
		margin-right: 0px;
		flex: 100%;
		float: left;
	}
	
	.infocol
	{
		padding: 10px;
		flex: 100%;
		float: left;
	}
	
	div.infobox
	{
		background-color: #404040;
		border-radius: 15px;
	}
		
	div.profilebox
	{
		display: flex;
		flex-direction: column;
		border-style: none;
		border-width: 1px;
		border-radius: 15px;
	}

		.profilebox img
		{
			width: 50%;
			border-radius: 50%;
			text-align: center;
		}
		
		.profilebox h4
		{
			text-align: center;
		}
		
		.profilebox p
		{

		}

		div.profileleft
		{
			padding: 3px;
			margin-right: auto;
			margin-left: auto;
			margin-top: auto;
			margin-bottom: auto;
			text-align: center;
		}

		div.profileright
		{		
			padding: 3px;
			margin-left: 5px;
			margin-right: 5px;
		}
}

/* Footer */

.footer
{
	background-color: black;
	text-align: center;
	padding: 1px;
	font-size: 0.7em;
}

	div.footer
	{
		border-style: none solid solid solid;
		border-radius: 0px 0px 15px 15px;
	}

	p.footer
	{
		width: 50%;
		margin: auto;
	}